.footer {
    display: flex;
    justify-content: center;
    
    
}

.linkedin{
margin: 0 30px;

}

.facebook{    
margin: 0 30px;


}
.insta{       
margin: 0 30px;        


}

.mail{
margin: 0 30px;

}



